body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/background3.jpg");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000000;
}

form {
display:block;
position:fixed;
left:20%;
background-color: rgba(43, 116, 226, 0.774);
padding: 16px;
line-height: 1.6;
border-radius: 20px;
text-align: center;
 
}

form:hover {
transform: scale(1.02); 
}

textarea {
padding: 14px 26px;
width: 80%;
resize: none;

}


label {
   display:block;
   margin-bottom: 8px;
}

input,select {

  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: rgb(19, 1, 48);
  color: #fff;
  padding: 14px 16px;
  cursor: pointer;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.logo_faleconosco{
  position:fixed;
  right:20%;
  width: 20%;
  max-width: 100%;
  
}

.header {
  position:absolute;
  overflow: hidden;
  top:0%;
  width: 100%;
  z-index: 1000;
  display: flex;
  padding: 14px 16px;
  align-items: center;
  justify-content: center;
}

.header a {
  display:inline-block;
  color: rgb(0, 0, 0);
  background-color: rgba(43, 116, 226, 0.5);
  border-radius: 30%;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  margin-right: 2px;
  
}

  .header a:hover {
  background-color: rgba(199, 85, 189, 0.705);
  color: black;
}