body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(60, 175, 204);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
}

form {
    display:block;
    position:fixed;
    left:20%;
    background-color: rgb(43, 116, 226);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
     
}

label {
     display:block;
     margin-bottom: 8px;
}

input,select {

    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: rgb(19, 1, 48);
    color: #fff;
    cursor: pointer;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
 }

.logo_faleconosco{
    position:fixed;
    right:20%;
    width: 20%;
    max-width: 100%;
    
}

.header {
    position:fixed;
    overflow: hidden;
    top:0%;
    width: 100%;
    background-color: aqua;
    z-index: 1000;
    display: flex;
    align-items: center;
  }
  
  .header a {
    display:inline-block;  /* Em vez de float para evitar problemas de layout */
    color: rgb(0, 0, 0);
    background-color: rgb(9, 216, 216);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    margin-right: 2px;
    
  }
  
  
  .header a:hover {
    background-color: rgb(199, 85, 189);
    color: black;
  }




