 body {
     background-image: url("../images/backg1.jpg");
     background-position: 0% 55%;
     background-size: cover;
     margin: 0;
     padding: 0;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;
     
 }

 form {
     background-color: aqua;
     padding: 30px;
     border-radius: 18px;
     
 }

 label {
     display: block;
     margin-bottom: 8px;
 }

 input,
 select {
     width: 100%;
     padding: 8px;
     margin-bottom: 16px;
     box-sizing: border-box;
     border: 1px solid #ccc;
     border-radius: 4px;
 }

 input[type="submit"] {
     background-color: #4caf50;
     color: #fff;
     cursor: pointer;
 }

 .logo {
       
     width: 200px;
     padding: 122px;
     border-radius: 110px;
    
 }
 @media (max-width: 600px) {
    form {
        max-width: 100%;
    }
}




