* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url("../images/background3.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
}

.header_container {
  width: 100%;
  display: flex;
  padding-top: 5%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-inline: 5%;
  
}

.logo {
  position:static;
  width: 15%;
  padding-top: 2%;
  left: 0%;
  align-items: left;
  
}

.logo img {
  width: 100%;
  transition: 1s;
  
}

.logo img:hover {
  width: 120%;
  box-shadow: 0 0 50px #fff;
  border-radius: 100%;
  transition: 2s;
}

.header_container .barra_pesquisa {
  width: 65%;
  height: 60px;
  border: 0px solid #350574;
  border-radius: 10px;
  box-sizing: border-box;
  transition: .5s;
  background-color: #fff;

}

.header_container .barra_pesquisa input[type="text"] {
  width: 100%;
  height: 100%;
  border: 0px solid #350574;
  border-radius: 10px;
  box-sizing: border-box;
  transition: .5s;
  border: 1px solid #ccc;
  padding-left: 20px;

}

.header_container .barra_pesquisa input[type="text"]:focus,
.header_container .barra_pesquisa input[type="text"]:hover {
  width: 102%;
  height: 103%;

}

.header_container .barra_pesquisa input[type="text"]::placeholder {
  padding-left: 0px;
}

.header_container .bt_pesquisa{
  width: 10%;
  height: 60px;

}

.header_container .bt_pesquisa button {
  width: 100%;
  height: 100%;
  border: 0px;
  border-radius: 25px;
  transition: .5s;
  cursor: pointer;
  background-color: #585858;
  color: #fff;
  font-weight: bold;
}

.header_container button:hover,
.header_container button:focus {
  width: 105%;
  height: 110%;
  border-radius: 23px;
  transition: .5s;
  cursor: pointer;
  box-shadow: 0px 35px 80px #0000001a;
}



.menu_container{
  width: 100%;
  display: flex;
  padding-top: 5%; 
  align-items:center;
  justify-content: center;
}

.menu_container .header_menu {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-inline: 0%;
  background-color: transparent;
  display:inline-block;
  align-items: center;
  text-align: center;

}

.menu_container .header_menu a {
  display: inline-block;
  width: 130px;
  height: 130px;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 45, 150, 0.747);
  text-align: center;
  line-height: 125px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  margin-right: 5%;
  border-radius: 50%;
  transition: .5s;
  font-size: 90%;
}

.menu_container .header_menu a:hover,
.menu_container .header_menu a:focus {
  width: 120px;
  height: 120px;
  background-color: rgb(199, 85, 189);
  line-height: 110px;
  color: rgb(255, 255, 255);
  font-size: 85%;
  font-weight:bold;
 

}

.separador {
  width: 100%; /* Largura total */
  height: 2px; /* Altura da linha */
  margin-top: 2%;
  background-color: #ccc; /* Cor da linha */
  margin-bottom: 20px; /* Espaçamento entre as divs */
}

.separador_horizontal {
  width: 2px; /* Largura total */
  height: 100%; /* Altura da linha */
  background-color: #ccc; /* Cor da linha */
}

.container {
  display: flex;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 5%;
  padding-inline: 5%    ;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.container .card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0 35px 80px #0000003a;
  background: #fff;
  transition: .5s;
  cursor: pointer;
  user-select: none;
  margin-bottom: 20px;
}

.container .card:hover {
  height: 400px;
}

.container .card .cardImg {
  position: relative;
  width: 100%;
  height: 60%;
  overflow: hidden;
  border-radius: 12px 12px 0 0;
  background: #333;
  transition: .5s;
}

.container .card .cardImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .card .conteudo {
  width: 100%;
  padding: 20px;
  text-align: center;
  transition: .5s;
}

.container .card:hover .conteudo {
  height: 250px;
}

.container .card:hover .cardImg {
  height: 40%;
  border-radius: 12px;
  box-shadow: 0 15px 45px;
}

.container .card .conteudo h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--cor);
}

.container .card .conteudo p {
  color: #333;
  margin-bottom: 15px;
}

.container .card .conteudo a {
  display: inline-block;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 8px;
  text-decoration: none;
  background: var(--cor);
  color: #fff;
  transition: .3s;
}

.container .card .conteudo a:focus {
  background: var(--cor);
  color: #fff;
}


body .footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: #8605ad77;
  color: #fff;
  text-decoration: none;
}

.conteudo {
  width: 100%;
  height: 200px;
  border-radius: 10%;
  overflow: auto;
  text-align: justify;
  word-wrap: break-word;
}

body .footer a, .footer p{
  width: 100%;
  text-align: center;
  padding: 5px 5px;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
}

body .footer a:hover{
  background-color: #701389;
  color: #fff;
  text-shadow: 0px 0px 10px#fff;
  box-shadow: 0 0 40px #740b92;
  border-radius: 15px;
  user-select: none;
}