* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(74, 205, 238);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000000;
}

.container-form {
  width: 90%;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  transition:  all .5s ease-out;
}

.welcome-back {
  display: flex;
  align-items: center;
  text-align: center;
}

.message {
  padding: 1rem;
  color: #fff;
}

.message h2 {
  font-size: 1.7rem;
  padding: 1rem 0;
}

.message button {
  padding: 1rem;
  font-weight: 400;
  background-color: aqua;
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: .9rem;
  margin-top: 2rem;
  transition: all .3s ease-in;
  color: #000000;
}

.message button:hover {
  background-color: aqua;
}

.formulario {
  width: 400px;
  padding: 1rem;
  margin: 2rem;
  background-color: aqua;
  text-align: center;
  color: #000000;
}

.create-account {
  padding: 2.7rem 0;
  font-size: 1.7rem;
}

.iconos {
  width: 200px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.border-icon {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  border: solid thin white;
  border-radius: 50%;
  font-size: 1.5rem;
  transition: all .3s ease-in;
}

.border-icon:hover {
  background-color: aqua;
  cursor: pointer;
}

.cuenta-gratis {
  padding: 2rem 0;
}

.formulario input {
  width: 70%;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: white thin solid;
  text-align: center;
  outline: none;
  padding: .2rem 0;
  font-size: .9rem;
  color: rgb(0, 0, 0);
}

.formulario input[type="button"] {
  width: 60%;
  margin: auto;
  border: solid thin rgb(0, 0, 0);
  padding: .7rem;
  border-radius: 2rem;
  background-color: rgb(0, 0, 0);
  font-weight: 600;
  margin-top: 3rem;
  font-size: .8rem;
  cursor: pointer;
  color: #ffffff;
}

.sign-in {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.sign-in.active {
  opacity: 1;
  visibility: visible;
}

.sign-up.active {
  opacity: 0;
  visibility: hidden;
}