* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('../images/background4.jpg'); 
    background-size: auto;
    background-color: rgb(0, 0, 0);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    color: white; 
}

header {
    padding-top: 5%;
    text-align: center;
    margin-bottom: 20px;
    transform: scale(1.02);
   
    
}

a {
    text-decoration: none;
    color: rgba(16, 52, 197, 0.644);
    margin: 10%;
    margin-bottom: 10px;
    
    border-radius: 50px;

}

header img {
    padding-top: 50%;
    width: 100px;
    height: auto;
}

form {
    background-color: rgba(13, 59, 59, 0.568); 
    padding: 20px;
    text-decoration-color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    max-width: 600px; 
}

textarea {
    resize: none;
  
  }

label {
    margin-bottom: 10px;
    display: block; 
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #874caf;
    color: white;
    cursor: pointer;
    border: none; 
}